*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 50px;
}

.card{ /* Ajuste 2: colocado display: inline-block */
    display: inline-block;
    background: #FFF;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    text-align: center;
    transition: transform 0.2s;
    margin: 10px; /*ajuste*/
}
.card:hover{
    transform: scale(1.02);
}
.card img{
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}
.card h2{
    font-size: 1.2rem;
    margin: 10px 0;
}
.card p{
    color: #555;
    font-size: 0.9rem;
    margin-bottom: 10px;
    height: 50px;
    overflow: auto; /* ajuste */
    text-align: justify;
}
.price{
    font-weight: bold;
    color: #27AE60;
    margin: 5px 0;
}
.rating{
    color: #F39C12;
    font-weight: bold;
}
.btn-comprar{
    background: #27AE60;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.2s;
    margin-top: 15px;
}
.btn-comprar:hover{
    background: #279155;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #279155;
    height: 8vh;
    position: absolute;
    top: 0;
}
.footer{
    display: flex;
    width: 100%;
    height: 10vh;
    background: #279155;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.icon{
    display: flex;
    font-size: 80px;
    color: #FFF;
    cursor: pointer;
    transition: transform 0.2s;
    margin: 20px;
}
main{
   padding-top: 75%;
}